<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Riwayat Transaksi</h2>
  <p *ngIf="transactions.length == 0">Belum ada transaksi.</p>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions" routerLink="/transaction-detail/{{ transaction.id }}">
      <ion-label>
        <h2>Transaksi {{ transaction.id }}</h2>
        <p>Tanggal: {{ getDateText(transaction.date) }}</p>
        <p>Total: Rp {{ transaction.total }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
